@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html, body {
    margin: 0;
    width: 100%;
}

body, button {
    color: #FFF2D8;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #113946;
    position: fixed;
    height: 100vh;
}

input {
    outline: 0;
    transition: all 0.2s ease-in-out;
    background: none;
    border-style: none;
    text-align: center;
    color: #FFF2D8;
}

div.titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0 100px;
}

#urano {
    width: 114px;
}

#debs, #credmes, #result {
    display: flex;
    flex-direction: column;
    border: 2px solid #FFF2D8;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.linha {
    width: 100%;
    border: 1px solid;
    border-left: 0;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#tcredmes, #tdebsmes, #tresults, #treservas {
    position: absolute;
    top: 14.6em;
    padding: 5px;
    background-color: #113946;
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (max-width: 600px) {
    div.titulo {
        justify-content: space-evenly;
    }

    #debs, #credmes, #result {
        width: 170px;
        height: 70px;
        font-size: 20px;
    }

    div.dineros, #botao, #mais, #menos, #cifrao {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #tresults {
        top: 22.5em;
    }

    #treservas {
        top: 28.5rem;
        padding: 0 15px;
    }

    .entres {
        position: relative;
        font-size: 30px;
        width: 10px;
        text-align: center;
    }

    .igual, .igual::before {
        position: relative;
        margin: 20px auto 0;
        width: 15px;
        border: 1.5px solid #FFF2D8;
        border-radius: 2px;
    }

    .igual::before {
        content: "";
        position: relative;
        top: -6px;
        float: right;
        left: 0.05em;
        margin-top: 10px;
    }

    h1 {
        font-size: 40px;
    }

    .bordas-elementos {
        border: 3px solid #FFF2D8;
        border-radius: 10px;
    }

    div.titulo-cred {
        margin-bottom: 50px;
    }

    .titulo > span {
        font-size: 2rem;
        font-weight: bolder;
    }

    div.valor {
        display: flex;
        padding: 10px;
        margin: auto;
        justify-content: center;
    }

    #credito-rs {
        font-size: 1.5rem;
        font-weight: bold;

    }

    input#valor {
        font-size: 1.5rem;
        max-width: 200px;
    }

    .input-focus {
        max-width: 100px !important;
    }

    .credito-recorrente {
        text-align: center;
        padding: 4px 20px;
        margin-inline: auto;
        max-width: fit-content;
        margin-bottom: 20px;
        font-weight: bolder;
        border-width: 1.9px;
    }

    .credito-recorrente-hover {
        color: #113946;
        background-color: #FFF2D8;
    }

    .data-cred {
        display: flex;
        justify-content: space-evenly;
    }

    .data-cred > fieldset {
        border: 2px solid #FFF2D8;
        border-radius: 20px;
        width: 10px;
    }

    .dia-cred {
        margin: 0 auto;
        padding-inline: 4px;
        font-weight: bolder;
    }

    #dia-cred {
        padding: 0;
        max-width: 110px;
    }

    .cb-cred-indefinido {
        display: flex;
        flex-direction: column;
        margin: auto 0;
    }

    .indefinido-cred {
        min-width: 15px;
        min-height: 15px;
        border: 1px solid #FFF2D8;
        margin: auto;
        margin-top: 12px;
        background-color: #113946;
        border-radius: 20px;
    }

    .indefinido-cred-hover {
        background-color: #FFF2D8;
    }

    .lbl-ind-cred {
        font-weight: bolder;
    }

    .categoria-cred {
        margin-top: 35px;
    }
    
    .categoria-cred > fieldset {
        min-width: 250px;
    }

    .categoria-cred > fieldset > input {
        min-width: 250px;
    }

    #btn-voltar-cred {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    
}

#treservas {
    font-size: 30px;
}

#result {
    margin: auto;
    width: 225px;
}

#botao, #mais, #menos, #cifrao {
    position: fixed;
    bottom: 5vh;
    right: 50vw;
    transform: translate(50%);
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background-color: #FFF2D8;
    z-index: 3;
    transition: all 0.1s ease-in-out;
}

#mais, #menos, #cifrao {
    z-index: 2;
}

#fundoPreto {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

.ativo {
    visibility: visible !important;
    opacity: 0.8 !important;
}

#entradas {
    position: fixed;
    background-color: #113946;
    width: 0vw;
    height: 80vh;
    left: 50vw;
    transform: translate(-50%);
    bottom: 7vh;
    z-index: 4;
    visibility: hidden;
    transition: visibility 0s, all 0.3s ease-in-out;
}

.entradas-active {
    visibility: visible !important;
    width: 90vw !important;
}

.mais-active-transition > svg {
    rotate: 45deg;
    transition: rotate 0.4s ease-in-out;
}

.mais-active-transition {
    transition: all 0.3s ease-in-out !important;
}

.mais-active {
    z-index: 4 !important;
    right: 50vw !important;
    transform: translate(50%) !important;
    width: 90vw !important;
    bottom: 7vh !important;
    height: 80vh !important;
    border: 3px solid #FFF2D8;
}

.escolha-dias-uteis {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    font-weight: bolder;
}

#cont-dias-uteis {
    border-width: 2px;
    padding-inline: 10px;
}

#soma-dias-uteis {
    border-width: 2px;
    padding-inline: 10px;
}

#entradas-creditos {
    display: none;
}